.task {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  list-style: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #dcdcdc;
}

.task:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 5px #dcdcdc;
}

.task:active {
  transform: scale(0.98);
}
