.task {
  width: 230px;
  height: 230px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  list-style: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #dcdcdc;
}

.task:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 5px #dcdcdc;
}

.task:active {
  transform: scale(0.98);
}
@media (max-width: 1025px) {
  .task {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 426px) {
  .task {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 376px) {
  .task {
    width: 210px;
    height: 210px;
  }
}
