.popup__button {
  margin: 0 auto;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.popup__button:hover {
  background-color: #3e8e41;
  transform: translateY(-2px);
}

.popup__button:active {
  background-color: #1e4620;
  transform: translateY(2px);
}
