.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  background-color: rgb(255, 255, 255);
  border: none;
}
.popup__close-button:hover {
  opacity: 0.5;
}
