.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
  /* background: url() no-repeat center;
  background-size: cover; */
  border: none;
}
.popup__close-button:hover {
  opacity: 0.5;
}
